@charset "UTF-8";
.board-div{
	margin:0 auto;
	width: 800px;
	height: auto;
}
.page-div{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	text-align: center;
}
.page-div a{
	text-decoration: none;
	color: black;
}
.page-div img{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}
table{
	width: 800px;
	height: auto;
	border-collapse: collapse;
}
tr{
	height: 30px;
	}
th{
	height:30px;
	background-color: gray;
	border-bottom: 2px solid black;
}
td{
	text-align: center;
	border-bottom: 1px solid gray;
}

.td1{
	width: 10%;
}

.td2{
	width: 20%;
}

.title{
	text-align: left;
}

tr:hover {
	background-color: gray;
}



