@charset "UTF-8";
.detail-content{
	margin: 0 auto;
	width: 800px;
	height: auto;
	background-color: #dfdfdf;
	padding: 10px;
	box-sizing: border-box;
}
.title{
	width: 100%;
	height: 50px;
	line-height:50px;
	font-size: large;
}
.name-bar{
	width: 100%;
	border-bottom: 1px solid black;
	background-color: #c0c0c0;
	height: 80px;
	padding: 20px;
	box-sizing: border-box;
}
.name, .like, .date, .ip{
	width: 50%;
	height:20px;
	float: left;
}
.name, .like{
	border-bottom: 1px solid black;
}
.like, .ip{
	text-align: right;
		
}
.content{
	width:100%;
	min-height:200px;
	height: auto;
}
.commentsList{
	width: 100%;
	height: auto;
	margin: 5px 0px;
	/* border-top: 10px solid white; */
}
.comments{
	width: 100%;
	height: auto;
	margin: 5px 0px;	
}

.comment{
	width: 100%;
	min-height: 65px;
	margin-bottom: 5px;
}
.commentHead{
	width: 100%;
	height: 32px;
	line-height:32px;
	background-color: #f1f1f1;
}
.cname{
	width: 45%;
	height: 100%;
	float: left;
	padding-left: 5px;
}
.cdate{
	width: 45%;
	height: 100%;
	float: right;
	text-align: right;
	margin-right: 10px;
}
.cid{
	height:0px;
	visibility: hidden;
}
.commentBody{
	width: 100%;
	height: 35px;
	padding : 5px 0px 0px 5px;
}

.commentBox, .recommentBox{
	width: 100%;
	min-height: 150px;
	height: auto;
	padding: 10px;
	background-color: gray;
	box-sizing: border-box;
}
#commenttextarea, #rcta{
	width: calc(100% - 110px);
	height: 120px;
	float: left;
	resize: none;
}

#comment, #recomment{	
	width: 100px;
	height: 130px;
	float: right;
}