@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
}
.main{
	width:100%;
	height:100vh;
	background-image: url("../img/login.jpg");
	background-size: inherit;
	background-repeat: no-repeat;
}
.login-box{
	margin-left: 45%;
	bottom: 300px;
	width: 200px;
	height: 200px;
	text-align: center;
	position:absolute;
}
.login-image{
	padding:15px;
	border-radius: 50%; 
	background-color: gray;
}
.login-form{
	width: 200px;
}
.login-form input{
	margin: 3px;
	width: 180px;
	height: 35px;
	border: 0px;
	font-weight: bold;
	text-align: center;
	color: green;
}
.login-form button{
	margin: 3px;
	width: 185px;
	height: 35px;
	border: 0px;
	background-color: green;
	color: white;
	font-weight: bold;
}